/* commentttt */

h2 {
	font-size: 30px;
	color: rgb(10,200,230);
	background-color: rgb(220,230,240);
	font-variant: small-caps;
	margin: 20px;
	padding: 40px;
	
	border-style: solid;
	border-width: 3px;
	border-left-width: 10px;
	border-right-width: 10px;
	border-color: rgb(200, 230, 200);
}

#top {
	color: rgb(10,100,200);
	background-color: rgb(220,230,240);
	font-variant: small-caps;
	font-weight: bold;
	text-align: center;
	margin: 20px;
	padding: 40px;
	
	border-style: solid;
	border-width: 8px;
	border-left-width: 13px;
	border-right-width: 13px;
	border-color: rgb(200, 230, 200);
}

body{
	background-color: rgb(230,240,250);
	font-family: "Roboto Thin", arial;
	font-size: 20px;
}

textarea{
	background-color: rgb(220,230,240);
	margin-left: 20px;
}

input{
	background-color: rgb(220,230,240);
	margin-left: 20px;
}

select{
	margin-left: 20px;
}

table{
	margin-left: 20px;
}

a{
	color: blue;
	text-decoration: underline;
}

p{
	padding-left: 20px;
}

img{
	padding-left: 20px;
}